
.ONE {
    background-image: url(Nurburgring_2.jpg);
    min-height: 150vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ONE-A {
    display: flex;
    font: Times;
    font-size: 120px;
    font-style: italic;
    font-weight: bold;
    justify-content: center;
    padding-top: 290px;
    color: white;
    flex-direction: row-reverse;
}

.TWO {
    background-image: url(Red_Bull_Pit_Stop.jpeg);
    min-height: 150vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.TWO-A {
    display: flex;
    font: Times;
    font-size: 55px;
    justify-content: center;
    padding-top: 290px;
    color: white;
    font-weight: bold;
}

.TWO-B {
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 33px;
    justify-content: center;
    margin: 50px 50px 50px 50px;
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-left: 50px;
    color: black;
    background-color: white;
    opacity: 0.8;
}

.THREE {
    background-image: url(Pikes_Peak.jpg);
    min-height: 150vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.THREE-A {
    display: flex;
    font: Times;
    font-size: 55px;
    justify-content: center;
    padding-top: 290px;
    color: navajowhite;
}

.THREE-B {
    display: flex;
    justify-content: center;
}

.THREE-B ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.card3 {
    width: 400px;
    margin: 1em;
    background-color: navajowhite;
    opacity: 0.8;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.44);
}

.card3 img {
    width: 400px;
    max-height: 600px;
}

.card3 h1 {
    font-size: 2em;
    font: Times;
    font-style: oblique;
    font-weight: bold;
}

.card3 h1, .card3 p {
    margin: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.FOUR {
    background-image: url(Pikes_Peak.jpg);
    min-height: 150vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.FOUR-A {
    display: flex;
    font: Times;
    font-size: 55px;
    justify-content: center;
    padding-top: 290px;
    color: navajowhite;
}

.FOUR-B {
    display: flex;
    justify-content: center;
}

.FOUR-B ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.card4 {
    width: 400px;
    margin: 1em;
    background-color: navajowhite;
    opacity: 0.8;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.44);
}

.card4 img {
    width: 400px;
    max-height: 225px;
}

.card4 h2 {
    font-size: 2em;
    font: Times;
    font-style: oblique;
    font-weight: bold;
}

.card4 h2, .card4 p {
    margin: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.FIVE {
    background-image: url(Pikes_Peak.jpg);
    min-height: 150vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.FIVE-A {
    display: flex;
    font: Times;
    font-size: 55px;
    justify-content: center;
    padding-top: 290px;
    color: navajowhite;
}

.FIVE-B {
    display: flex;
    justify-content: center;
}

.FIVE-B ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.card5 {
    width: 400px;
    margin: 1em;
    background-color: navajowhite;
    opacity: 0.8;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.44);
}

.card5 img {
    width: 400px;
    max-height: 225px;
}

.card5 h3 {
    font-size: 2em;
    font: Times;
    font-style: oblique;
    font-weight: bold;
}

.card5 h3, .card5 p {
    margin: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.Data-Input {
    background-image: url(Ferrari.jpg);
    min-height: 90vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    font-size: 50px;
}

.Data-Manipulation {
    display: flex;
    flex-direction: column;
    float: left;
    background-color: white;
    margin: 100px 10px 10px 100px;
    opacity: 0.8;
}

.Lap-Time-Display {
    display: flex;
    flex-direction: column;
    float: right;
    background-color: white;
    margin: 100px 100px 10px 100px;
    opacity: 0.8;
}